//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: font-url("/assets/fonts/icons.eot");
  src: font-url("/assets/fonts/icons.eot?#iefix") format("embedded-opentype"),
       font-url("/assets/fonts/icons.woff") format("woff"),
       font-url("/assets/fonts/icons.ttf") format("truetype"),
       font-url("/assets/fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("/assets/fonts/icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-atom:before,
.icon-blueprint:before,
.icon-book:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-clock:before,
.icon-code:before,
.icon-construction:before,
.icon-coral:before,
.icon-cpp:before,
.icon-download:before,
.icon-droplet:before,
.icon-enter:before,
.icon-facet:before,
.icon-field:before,
.icon-gears:before,
.icon-github:before,
.icon-hierarchy:before,
.icon-home:before,
.icon-level-down:before,
.icon-link:before,
.icon-location:before,
.icon-lua:before,
.icon-method:before,
.icon-module:before,
.icon-modules:before,
.icon-page:before,
.icon-puzzle-piece:before,
.icon-receptacle:before,
.icon-script:before,
.icon-search:before,
.icon-section:before,
.icon-speed:before,
.icon-tags:before,
.icon-tk-component:before,
.icon-tk-enum:before,
.icon-tk-exception:before,
.icon-tk-interface:before,
.icon-tk-nativeclass:before,
.icon-tk-struct:before,
.icon-users:before,
.icon-yingyang:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-atom:before { content: "\f142"; }
.icon-blueprint:before { content: "\f103"; }
.icon-book:before { content: "\f135"; }
.icon-chevron-down:before { content: "\f129"; }
.icon-chevron-left:before { content: "\f12a"; }
.icon-chevron-right:before { content: "\f128"; }
.icon-chevron-up:before { content: "\f12b"; }
.icon-clock:before { content: "\f13f"; }
.icon-code:before { content: "\f13d"; }
.icon-construction:before { content: "\f119"; }
.icon-coral:before { content: "\f100"; }
.icon-cpp:before { content: "\f101"; }
.icon-download:before { content: "\f105"; }
.icon-droplet:before { content: "\f11c"; }
.icon-enter:before { content: "\f106"; }
.icon-facet:before { content: "\f108"; }
.icon-field:before { content: "\f137"; }
.icon-gears:before { content: "\f136"; }
.icon-github:before { content: "\f10a"; }
.icon-hierarchy:before { content: "\f10b"; }
.icon-home:before { content: "\f13e"; }
.icon-level-down:before { content: "\f13b"; }
.icon-link:before { content: "\f10c"; }
.icon-location:before { content: "\f141"; }
.icon-lua:before { content: "\f102"; }
.icon-method:before { content: "\f138"; }
.icon-module:before { content: "\f139"; }
.icon-modules:before { content: "\f13a"; }
.icon-page:before { content: "\f10e"; }
.icon-puzzle-piece:before { content: "\f146"; }
.icon-receptacle:before { content: "\f110"; }
.icon-script:before { content: "\f112"; }
.icon-search:before { content: "\f113"; }
.icon-section:before { content: "\f114"; }
.icon-speed:before { content: "\f144"; }
.icon-tags:before { content: "\f115"; }
.icon-tk-component:before { content: "\f126"; }
.icon-tk-enum:before { content: "\f120"; }
.icon-tk-exception:before { content: "\f127"; }
.icon-tk-interface:before { content: "\f121"; }
.icon-tk-nativeclass:before { content: "\f122"; }
.icon-tk-struct:before { content: "\f123"; }
.icon-users:before { content: "\f116"; }
.icon-yingyang:before { content: "\f145"; }
