ruby:
  def navbar_link(url, title, active)
    %Q{<li#{active ? ' class="active"' : ''}><a href="#{url}">#{title}</a></li>}
  end

  def navbar_page(path)
    p = get_page(path)
    navbar_link(p.url, page_icon(p) + ' ' + page_title_short(p), current_path.start_with?(p.url[1..-1]))
  end

  def title_crumbs(page)
    ( page.parent == nil ? '' : title_crumbs(page.parent) << ' · ' ) << page_title_short(page)
  end

  full_title = page_title(current_page)
  full_title = "#{full_title} | #{ title_crumbs(current_page.parent) }" if current_page.parent

doctype html
html lang="en"
  head
    meta charset="utf-8"
      meta content="width=device-width, initial-scale=1.0" name="viewport"
        title= full_title
        = stylesheet_link_tag "style"
  body class=page_classes
    / master nav (fixed top)
    header.navbar.navbar-default.navbar-fixed-top role="navigation"
      .container
        .navbar-header
          button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand href='/'
            = image_tag 'coral-logo.svg', class: 'brand'
        nav.collapse.navbar-collapse role="navigation"
          ul.nav.navbar-nav
            = navbar_link '/guides/getting-started', '<i class="icon-enter"></i> Get Started', false
            = navbar_page 'guides'
            = navbar_page 'reference'
            = navbar_page 'community'
          #search-widget.navbar-right
            i.icon-search
            input.form-control.searchbox placeholder=("Search the API and Pages — press 's'") type="text"
    == yield
    footer.footer
      .container
        p
          | Code licensed under the
          a href="https://raw.github.com/coral-framework/coral/master/LICENSE" target="_blank"  MIT License
          |. Documentation licensed under
          a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"  CC BY-SA
          |.
        ul.list-inline
          li Currently #{data.coral.release}
          li ·
          li
            a href="/about"  About
          li ·
          li
            a href="https://github.com/coral-framework/coral"  GitHub
          li ·
          li
            a href="https://github.com/coral-framework/coral/issues"  Issues
          li ·
          li
            a href="https://github.com/coral-framework/coral/releases"  Releases
    script src="//code.jquery.com/jquery-2.1.0.min.js"
    = javascript_include_tag  "script"
