- content = capture do yield end
- toc = extract_toc(content)
- wrap_layout :sidebar
  .page-header
    h1
      = page_title(current_page)
      small= m.name
  = content
  - # Append tags that the template did not mention
  - m.tags.each do |name, types|
    - next if toc[name]
    - toc[name] = [name.titleize, 2]
    h2 id=name = name.titleize
    = partial :type_list, object: types

  - content_for :sidenav
    #toc.api
      ul.nav.level-1
        li
          a href="#_top" = page_icon(current_page) + ' ' + page_title(current_page)
        = nav_toc(toc, 1)
