.coral-logo {
  width: 420px;
  margin: 0 auto;
}

.coral-color {
  color: #0d65a2;
}

.jumbotron {
  text-align: center;

  p.lead {
    margin: 30px;
    font-size: 30px;
  }

  a.btn {
    padding: 15px 30px;
  }

  .version {
    @extend .text-muted;
    font-size: 14px;
    margin: 15px;
  }
}

.jumbotron .btn {
  margin: 0 12px 0 12px;
}
