// ----------------------------------------------------------------------------
// Search Box

.searchbox {
  @extend .input-sm;
  width: 360px;
  margin-top: 4px;
  border-radius: 18px;
  font-size: 14px;
}

// ----------------------------------------------------------------------------
// Type Ahead

.tt-hint {
  @extend .form-control;
  @extend .searchbox;
  color: #999
}

.tt-dropdown-menu {
  width: 450px;
  margin-top: 9px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  @include border-radius(8px);
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));

  // right align the dropdown:
  left: auto !important;
  right: 0 !important;

  p { margin: 0; }
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 22px;
}

.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}

.tt-suggestion.tt-is-under-cursor {
  color: #03739c;
}

.tt-suggestions {
  .kind {
    float: right;
    font-style: italic;
  }
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .origin {
    @extend .text-muted;
    font-size: 14px;
  }
  .desc {
    margin: 0;
  }
}
