// Web Fonts and Icons
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


// ----------------------------------------------------------------------------
// Our Color Theme

$color-coral: #0C65A3;

// For syntax highlighting -- inspired by Xcode/Tomorrow/Base16
$color-fg: #4d4d4c;
$color-aqua: #3e999f;
$color-azure: #4271ae;
$color-blue: #272AD8;
$color-brown: #8f5536;
$color-darkteal: #31595D;
$color-gray: #999;
$color-green: #718c00;
$color-orange: #d28445;
$color-purple: #703DA9;
$color-magenta: #BA2CA3;
$color-maroon: #ac4142;
$color-red: #c82829; //Xcode: #D12F1B
$color-teal: #4E8188;
$color-yellow: #f4bf75;


// ----------------------------------------------------------------------------
// Custom Bootstrap Variables

// reference vars copied from _bootvars:

$gray-darker:     #2d2d2d;
$gray-dark:       lighten(#000, 20%);   // #333
$gray:            #666;
$gray-light:      lighten(#000, 60%);   // #999
$gray-lighter:    lighten(#000, 93.5%); // #eee

$brand-primary:   #446E9B;
$brand-success:   #3CB521;
$brand-warning:   #D47500;
$brand-danger:    #CD0200;
$brand-info:      #3399F3;

// customizations:

$text-color: $gray-dark;

$brand-primary: $color-coral;

$link-color: mix($brand-primary, $brand-info);
$link-hover-color: $link-color;
$navbar-default-link-hover-color: $link-color;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: Menlo, Consolas, monospace;
$font-size-base: 15px;

$navbar-height: 40px;
$top-margin: 20px;

$breadcrumb-bg: transparent;
$breadcrumb-separator: '\f054';

$code-bg: transparent;
$code-color: $gray;


// ----------------------------------------------------------------------------
// Import Libraries (order matters)

@import "compass/css3", "bootvars", "bootstraping", "bootswatch";
//@import "compass/css3", "bootstraping";


// ----------------------------------------------------------------------------
// Local Partials

@import "code", "front", "reference", "search", "sidebar";


// ----------------------------------------------------------------------------
// Global Styles

code {
  font-size: 85%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1px 4px;
}

.mono {
  font-family: $font-family-monospace;
}

// highlight the target element
div:target, tr:target > td {
  background-color: $state-warning-bg;
}

// responsive images by default
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.centerfig {
  max-width: 80%;
  margin: 15px 10%;
}

// top navbar
body {
  padding-top: $navbar-height;
}

.navbar {
  font-size: 14px;
  margin-bottom: $top-margin;
  box-shadow: 0 0 6px rgba(0,0,0,0.21);

  .brand > img {
    height: 32px;
    margin: 4px 30px 0 0;
  }

  .nav > li > a {
    &, &:hover {
      margin: 9px;
      padding: 0 12px;
    }
  }
}

// breadcrumbs
.breadcrumb {
  padding: 0;
  margin-top: $top-margin;
  font-size: 13px;
  //border-radius: 0;
  //border-bottom: 1px dotted $page-header-border-color;
  li + li:before {
    font-size: 70%;
    font-family: 'FontAwesome';
  }
}

// footer
.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 90px;
  border-top: 1px solid $gray-lighter;
  text-align: center;

  font-size: 14px;
  @extend .text-muted;

  .list-inline > li {
    padding: 0 2px;
  }
}
