---
hidden: true
title: "Page not found — Coral"
title_short: Coral
layout: base
directory_index: false
---

.jumbotron
  .container align="center"
    h1 404
    p.lead The page you’re after doesn’t exist.
    a.btn.btn-primary.btn-lg href="/"
      i.icon-home
      |  Home
