---
title: "Page not found — Coral"
title_short: Coral
layout: base
directory_index: false
---

<div class="jumbotron">
  <div class="container" align="center">
    <h1>404</h1>
    <p class="lead">The page you’re after doesn’t exist.</p>
    <a class="btn btn-primary btn-lg" href="/">
      <i class="fa fa-fw fa-lg fa-home"></i> Retreat!
    </a>
  </div>
</div>
