---
title: "Coral: Lightweight C++ component framework"
title_short: Coral
layout: base
---

<div class="jumbotron">
  <div class="container" role="main">
    <img class="coral-logo" src="/img/coral-logo.svg">
    <p class="lead"><%= data.coral.summary %></p>
    <p><a class="btn btn-default btn-lg" href="/download"><i
      class="fa fa-fw fa-lg fa-download"></i> Download Coral</a></p>
    <p class="version">Currently v<%= data.coral.version %></p>
  </div>
</div>

<div class="container">

</div><!-- container -->
